h1,
h2,
h3,
p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.title {
    font-size: 1.5em;
}

.title--cursive {
    font-family: 'Cinzel Decorative', cursive;
    text-transform: uppercase;
}

.subtitle {
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 00;
}

.text--light--italic {
    font-weight: 300;
    font-style: italic;
    font-size: 0.75em;
}

@media (min-width: 600px) {
    .intro {
        font-size: 1.65em;
    }

    .subtitle {
    font-size: 0.65em;

    }
