*, *::before, *::after { box-sizing: border-box; }

body {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    width: 75px;
    height: 50px;
}

/* ========== 
layout 
========== */

.ctn {
    background: lightcoral;
    /* padding: 2em; */
}

.ctn-flex {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
}

/* navigation */

@media (min-width: 768px) {
    .ctn {
        background: lightblue;
    }
}
