.footer {
  background: $color-5;
  color: $color-7;
  font-size: 1.4rem;
}

.footer__title {
  color: rgba(255, 255, 255, 0.45);
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.footer__title--info {
  //   letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer .footer__text {
  font-weight: 300;
  font-size: 1.4rem;
}

.footer__links-item {
  margin-bottom: 2rem;
}

.footer__link:hover {
  //   color: $color-7;
  color: rgba(255, 255, 255, 0.45);
}

.footer__bot {
  background: #503f40;
}

.footer__rights {
  margin-bottom: 0;
}

.footer__icon {
  font-size: 2.8rem;
  padding: 0.1em;
  color: rgba(255, 255, 255, 0.45);
}

.footer__icon:first-child {
  margin-right: 4rem;
}

.footer__icon:hover {
  color: $color-7;
}

@media (min-width: 800px) {
  .footer {
    .container--grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .footer__top {
    padding: 12rem 0;
  }
  .footer__bot {
    padding: 4rem 0;
  }
}
