.wrapper {
  min-width: 300px;
  margin: 0 auto;
  // box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

.container--grid {
  display: grid;
  column-gap: 6rem;
  row-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.container--grid-col4 {
  grid-template-columns: repeat(4, 1fr);
}

// for header
.container--flex-sb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}
