/* ====================
HEADER
==================== */

.header {
  height: $header-height;
  // background: $color-1;
  background: rgb(53, 79, 82);
  background: linear-gradient(
    90deg,
    rgba(53, 79, 82, 1) 0%,
    rgba(40, 60, 62, 1) 100%
  );
  color: $color-7;
  margin: 0 auto;
  border-bottom: 2px solid #283c3e;
  // fixed header
  // position: fixed;
  // width: 100%;
  // z-index: 100;
}

/* ====================
navigation
==================== */

.nav__bars--ico {
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $black-color;
  transform: translateX(100%);
  transition: transform 350ms;
}

.nav__menu--show {
  transform: translateX(0%);
}

.nav__close--ico {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  background: $white-color;
  color: $dark-green-color;
  padding: 1em 2em;
  // border-radius: 25px;
  letter-spacing: 1px;
  transition: opacity 500ms ease;
}

// .nav__link:hover,
// .nav__link:focus {
//   background: $color--accent;
//   color: $white-color;
// }

// navigation on larger screen size
@media (min-width: 800px) {
  .nav__bars--ico,
  .nav__close--ico {
    display: none;
  }

  .nav__menu {
    background: inherit;
    visibility: visible;
    height: $header-height;
    display: block;
    position: static;
    transform: translateX(0%);
  }
  .nav__list {
    flex-direction: row;
  }

  .nav__item {
    margin-right: 1.25rem;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .nav__link {
    color: #f8f9fa;
    /* font-size: .75rem; */
    border: 0;
    background: none;
  }

  .nav__link--contact {
    background: $color-7;
    color: #333;
  }
}
