.header {
  height: $header-height;
  // background: $color-1;
  background: rgb(53, 79, 82);
  background: linear-gradient(
    90deg,
    rgba(53, 79, 82, 1) 0%,
    rgba(40, 60, 62, 1) 100%
  );
  color: $color-7;
  margin: 0 auto;
  border-bottom: 2px solid #283c3e;
}
