/* ====================
HERO
==================== */

.hero {
  height: calc(100% - #{$nav-height});
}

.hero__content {
  height: 100%;
  background: $color-2;
}

// hero containers
.hero {
  // hero image full width
  .container {
    width: 100%;
  }
  .container--grid {
    height: 100%;
    grid-template-rows: 1.25fr 1fr;
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #283c3e;
}

// fix girl image
@media (min-width: 500px) {
  .hero {
    .container--test {
      grid-template-rows: 1.5fr 1fr;
    }
    .hero__img {
      object-position: 50% 40%;
    }
  }
}

.hero__caption {
  height: 100%;
  order: 2;
  display: grid;
  align-content: center;
  text-align: center;
}

.hero__caption-title {
  margin-bottom: 1rem;
}

.hero__caption-subtitle {
  margin-bottom: 2rem;
}

.hero__btn {
  background: $color-1;
  border-color: $color-7;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 250ms, background-color 250ms ease-in-out;
}

.hero__btn span {
  margin-left: 1rem;
}

.hero__btn:hover {
  background: $color-3;
  // color: $color-1;
}

@media (min-width: 800px) {
  .hero {
    .container {
      width: 80%;
    }
    background: url('../../assets/photos/web/mossholder2400.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__content {
    height: auto;
    background: $color-2;
    background: linear-gradient(
      239.04deg,
      $color-2 31.13%,
      rgba(179, 165, 148, 0.867919) 99.99%,
      rgba(179, 165, 148, 0) 100%
    );
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.35);
  }

  .hero .container--grid {
    column-gap: 10rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }

  .hero__caption {
    order: -1;
    text-align: left;
    grid-column: span 2;
  }

  .hero__caption-title {
    margin-bottom: 1rem;
  }

  .hero__caption-subtitle {
    margin-bottom: 3rem;
  }

  .hero__btn {
    margin-left: 0;
  }

  .hero__btn:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .hero__img {
    height: 500px;
    grid-column: span 2;
    outline: 2rem solid $color-7;
  }
}
