.hero {
  height: calc(100vh - #{$header-height});
}

.hero__content {
  height: 100%;
  background: $color-2;
}

.hero {
  // hero image full width
  .container {
    width: 100%;
  }
  .container--grid {
    height: inherit;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.hero__caption {
  order: 2;
  display: grid;
  align-content: center;
  text-align: center;
}

.hero__btn {
  border: 2px solid $color-1;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  .hero {
    padding: 4rem 0;
    .container {
      width: 80%;
    }
    background: url('../../assets/photos/mossholder.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__content {
    height: auto;
    background: $color-2;
    background: linear-gradient(
      239.04deg,
      $color-2 31.13%,
      rgba(179, 165, 148, 0.867919) 99.99%,
      rgba(179, 165, 148, 0) 100%
    );
  }

  .hero .container--grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }

  .hero__caption {
    order: -1;
    text-align: left;
  }

  .hero__caption-title {
    margin-bottom: 1rem;
  }

  .hero__caption-subtitle {
    margin-bottom: 4rem;
  }

  .hero__btn {
    margin-left: 0;
  }

  .hero__img {
    outline: 30px solid white;
  }
}
