/* ====================
NAVIGATION
==================== */

.nav {
  background: rgb(53, 79, 82);
  background: linear-gradient(
    90deg,
    rgba(53, 79, 82, 1) 0%,
    rgba(40, 60, 62, 1) 100%
  );
  color: $white-color;
  border-bottom: 2px solid #283c3e;
  width: 100%;
  z-index: 99;
  height: $nav-height;
  // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.nav__logo.nav__link {
  padding: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $black-color;
  transform: translateX(100%);
  transition: transform 350ms;
}

.nav__menu--show {
  transform: translateX(0%);
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__item,
.nav__link {
  border-radius: 5px;
}

.nav__item--logo {
  margin-bottom: 3rem;
}

.nav__item {
  margin: 1rem 0;
  background-color: lightblue;
}

.nav__link {
  display: block;
  min-width: 200px;
  text-align: center;
  background: $white-color;
  color: $color-1;
  padding: 1em 2em;
  letter-spacing: 1px;
  transition: opacity 500ms ease-in-out;
}

// nav buttons / toggle / close

.btn--toggle-nav {
  height: 26px;
  padding: 0.3rem;
}

.btn--close-nav {
  color: $white-color;
  position: absolute;
  font-size: 2.4rem;
  top: 2rem;
  right: 2rem;
}

// nav buttons / icon

.burger--bar {
  position: absolute;
  left: 0;
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.burger--ico {
  display: block;
  width: 20px;
  height: 2px;
  background-color: $white-color;
  position: relative;
  &::before {
    @extend .burger--bar;
    top: -6px;
  }
  &::after {
    @extend .burger--bar;
    bottom: -6px;
  }
}

// navigation on larger screen size
@media (min-width: 800px) {
  .btn--toggle-nav,
  .btn--close-nav {
    display: none;
  }

  .nav__menu {
    background: inherit;
    visibility: visible;
    height: $nav-height;
    display: block;
    position: static;
    transform: translateX(0%);
  }
  .nav__list {
    flex-direction: row;
    // fix lonjsko polje link from shrink
    min-width: 545px;
  }

  .nav__item--logo {
    display: none;
  }

  .nav__item,
  .nav__link {
    border-radius: 0;
  }

  .nav__item {
    margin-right: 1.25rem;
    background: none;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .nav__link {
    min-width: fit-content;
    color: #f8f9fa;
    padding: 0.75em 2em;
    background: none;
  }

  .nav__link--action {
    background: $color-7;
    color: $color-1;
    transition: background-color 250ms ease-in-out, box-shadow 250ms,
      opacity 500ms ease-in-out;
    border-radius: 5px;
  }
  .nav__link--action:hover {
    background: $color-3;
    color: $white-color;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}
