/* ====================
SECTION
==================== */

.section {
  min-height: 100vh;
  padding: 20rem 0;
}

.section__header,
.section__content {
  // limit section areas width to container width
  @extend .container;
}

.section__header {
  margin-bottom: 6rem;
}

.section__header-subtitle {
  display: block;
}

.section__footer {
  margin: 12rem 0 0;
  padding: 12rem 0;
}

.section__footer-title {
  display: block;
  margin-bottom: 1rem;
}

.section__footer-notice {
  display: block;
  margin-bottom: 3rem;
}

.section__footer-btn {
  width: max-content;
  display: block;
  border: 2px solid rgba(51, 51, 51, 0.95);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.section__footer-btn:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #f8f9fa;
}

/* ====================
ACCOMMODATION
==================== */

.accommodation {
  padding-bottom: 0;
  background: $color-4;
  color: rgba(51, 51, 51, 0.95);

  .section__footer {
    background: rgba(255, 255, 255, 0.1);
  }
}

.accommodation {
  .section__header-subtitle {
    color: $color-7;
  }

  .article__photo {
    height: 300px;
  }
}

@media (min-width: 800px) {
  .accommodation {
    .container--grid {
      row-gap: 6rem;
    }

    .article__photo {
      width: 100%;
      height: 500px;
      border-radius: 5px;
      object-fit: cover;
      filter: brightness(90%);
      // border: 1px solid #333;
      box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .article__block {
      display: grid;
      row-gap: 5rem;
    }

    .article__body {
      margin: 0;
    }
  }
}

/* ====================
RESTAURANT
==================== */

.restaurant {
  background: $color-5;
  // color: white;
  color: rgba(248, 246, 236, 0.95);
  .section__btn {
    color: $color-7;
  }
}

@media (min-width: 800px) {
  .restaurant {
    .section__header-title {
      &::before {
        background: $color-8;
        right: 0;
      }
    }

    .section__header-subtitle {
      color: $color-8;
    }
    .article__photo {
      height: 300px;
      width: 100%;
      object-fit: cover;
      grid-column: 1 / -1;
    }
  }
}

/* ====================
PARK
==================== */

.park {
  background: $color-6;
}

@media (min-width: 800px) {
  .park {
    .container--grid {
      row-gap: 6rem;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .section__header {
      padding: 6rem;
      position: static;
      background: $color-4;
      &::before {
        display: none;
      }
    }

    .section__header-title {
      font-size: 6rem;
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }

    .section__header-subtitle {
      color: #f8f9fa;
    }

    p {
      font-size: 1.85rem;
      line-height: 1.8;
      font-weight: 300;
    }

    img {
      width: 100%;
      min-height: 300px;
      height: 100%;
      object-fit: cover;
    }
  }
}
