.section {
  min-height: 100vh;
}

// marker on the screen edge
@media (min-width: 990px) {
  .marker {
    position: absolute;
    content: '';
    width: 3rem;
    height: 100%;
    top: 0;
    background: $color-5;
  }
}

.section__caption {
  position: relative;
  // marker on the screen edge (all sections)
  &::before {
    @extend .marker;
  }
}

.section__caption-title {
  margin-bottom: 6rem;
}

@media (min-width: 800px) {
  .section {
    padding: 24rem 0;
    margin-bottom: 24rem;
  }

  .section:last-child {
    margin-bottom: 0;
  }
}

/* ====================
ABOUT
==================== */

.about {
  background: $color-4;
}

.about {
  .section__caption {
    &::before {
      left: 0;
      background: $color-5;
    }
  }
}

@media (min-width: 800px) {
  .article.container--grid {
    row-gap: 6rem;
  }

  .article__photo {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
  }

  .article__block {
    display: grid;
    row-gap: 6rem;
  }

  .article__body {
    margin: 0;
  }
}

/* ====================
RESTAURANT
==================== */

.restaurant {
  background: $color-5;
  color: #f8f9fa;
}

@media (min-width: 800px) {
  .restaurant {
    .section__caption {
      &::before {
        background: #f8f9fa;
        right: 0;
      }
    }

    .section__caption-subtitle {
      color: $color-4;
    }
    .article__photo {
      height: 400px;
      grid-column: 1 / -1;
      margin-bottom: 6rem;
    }
  }
}

/* ====================
PARK
==================== */

.park {
  background: $color-6;
}

@media (min-width: 800px) {
  .park {
    .container--grid {
      row-gap: 6rem;
      grid-template-columns: 1fr 1fr;
    }

    .section__caption {
      padding: 6rem;
      position: static;
      background: $color-4;
      &::before {
        display: none;
      }
    }

    .section__caption-title {
      font-size: 6rem;
      margin-bottom: 0;
    }

    .section__caption-subtitle {
      color: #f8f9fa;
    }

    p {
      font-size: 1.85rem;
      line-height: 1.8;
      font-weight: 300;
    }

    img {
      width: 100%;
      // min-height: 300px;
      min-height: $img-height;
      object-fit: cover;
    }
  }
}
