.wrapper {
  min-width: 300px;
  margin: 0 auto;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

// container grid
.container--grid {
  display: grid;
}

.container--grid-col4 {
  grid-template-columns: repeat(4, 1fr);
}

// container flex
.container--flex-sb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// container on larger screen size
@media (min-width: 800px) {
  .container {
    width: 80%;
  }

  .container--grid {
    column-gap: 6rem;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  }
}
