// button
.btn {
  // testing width relative to four column grid
  // width: 50%;
  // max-width: 220px;
  // min-height: 6rem;
  border-width: 2px;
  border-style: solid;
  padding: 0.75em 2em;
}

.section__btn {
  @include flexCenter;
  color: #333;
  max-width: 220px;
}

// section button icon
.section__btn .fas {
  font-size: 1rem;
  margin-left: 1rem;
}

// background between sections
.background--image {
  background: url('../../assets/photos/web/mossholder1920.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  min-height: 20rem;
}

.background--image-1 {
  background-position-y: 100%;
}

.background--image-2 {
  background-position-y: 50%;
}

.background--image-3 {
  background-position-y: 0%;
}

// for javascript
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.sticky {
  position: fixed;
}

// article quote
.article__quote {
  text-align: center;
  font-size: 3rem;
  grid-column: 1/-1;
}
