body {
  background: #f8f9fa;
  color: $black-color;
  font-family: $body-font;
  font-size: $normal-font-size;
}

/* ====================
TITLE
==================== */

.title--big {
  font-weight: 400;
  margin-bottom: 0;
  color: $white-color;
}

@media (min-width: 900px) {
  .title--big {
    font-size: 4rem;
    color: #333;
  }
}

.title--small {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 0.85rem;
  margin-bottom: 0.25em;
  color: $color--accent;
}

.title--section {
  font-size: 6rem;
  font-weight: 700;
}

.subtitle--section {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
  font-weight: 400;
  color: #f8f9fa;
}

/* ====================
ARTICLE
==================== */

.article__body {
  font-size: 2rem;
  line-height: 1.9;
  font-weight: 300;
}

@media (min-width: 800px) {
  .header__logo {
    font-size: 3.25rem;
  }
}

/* ====================
NAVIGATION
==================== */
.nav__logo.nav__link {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
}

.nav__link {
  font-size: 1.25rem;
}

@media (min-width: 800px) {
  .nav__link {
    font-size: 1.35rem;
  }
}

/* ====================
HERO
==================== */

.hero__caption-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero__caption-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.hero__btn {
  font-size: 1.25rem;
  font-weight: 700;
  color: $color-7;
}

@media (min-width: 800px) {
  .hero__caption-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .hero__caption-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .hero__btn {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (min-width: 1000px) {
  .hero__caption-title {
    font-size: 5.25rem;
  }

  .hero__caption-subtitle {
    font-size: 2rem;
  }

  .hero__btn {
    font-size: 1.85rem;
    font-weight: 700;
  }
}

.about__text {
  line-height: 2;
  font-weight: 300;
}

// highlights
.color--highlight {
  color: $color-1;
}
