body {
  background: #f8f9fa;
  color: $black-color;
  font-family: $body-font;
  font-size: $normal-font-size;
}

// header
.header__logo {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
}

// hero
.hero__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .hero__title {
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1.25rem;
  }

  .hero__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .hero__btn {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

@media (min-width: 1000px) {
  .hero__title {
    font-size: 4.25rem;
  }

  .hero__subtitle {
    font-size: 1.75rem;
  }
}

// nav
.nav__link {
  font-size: 1.25rem;
}

.title--big {
  font-weight: 400;
  margin-bottom: 0;
  color: $white-color;
}

.title--small {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 0.85rem;
  margin-bottom: 0.25em;
  color: $accent-color;
}

@media (min-width: 900px) {
  .title--big {
    font-size: 4rem;
    color: #333;
  }
}

.about__text {
  line-height: 2;
  font-weight: 300;
}

// accent
.text--highlight {
  color: $color-3;
}
