body {
  background: #f8f9fa;
  color: $black-color;
  font-family: $body-font;
  font-size: $normal-font-size;
}

/* ====================
SECTION
==================== */

.section__header-title {
  font-size: 6rem;
  font-weight: 700;
}

.section__header-subtitle {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.section__footer {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
}

.section__footer-title {
  font-size: 3rem;
}

.section__footer-notice {
  font-size: 2.2rem;
  font-weight: 300;
}

/* ====================
ARTICLE
==================== */

.article__body {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.9;
}

@media (min-width: 800px) {
  .header__logo {
    font-size: 3.25rem;
  }
}

/* ====================
NAVIGATION
==================== */
.nav__logo.nav__link,
.nav__item--logo {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
}

.nav__link {
  font-size: 1.25rem;
}

@media (min-width: 800px) {
  .nav__link {
    font-size: 1.35rem;
  }
}

/* ====================
HERO
==================== */

.hero__caption-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero__caption-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero__btn {
  font-size: 1.25rem;
  font-weight: 700;
  color: $color-7;
}

@media (min-width: 800px) {
  .hero__caption-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .hero__caption-subtitle {
    font-size: 1.25rem;
  }

  .hero__btn {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (min-width: 1000px) {
  .hero__caption-title {
    font-size: 5.25rem;
  }

  .hero__caption-subtitle {
    font-size: 2.1rem;
  }

  .hero__btn {
    font-size: 1.85rem;
    font-weight: 700;
  }
}

.about__text {
  line-height: 2;
  font-weight: 300;
}

// highlights
.color--highlight {
  color: $color-1;
}
