/* colors */
$dark-green-color: #2a3019;
$green-color: #424a26;
$light-green-color: #c6c9be;
$light-white-color: #eff0ea;
$color--accent: #a63d40;
$white-color: #f8f9fa;
$black-color: #333;

// colors new
$color-1: #354f52;
$color-2: #b3a594;
$color-3: #a63d40;
$color-4: #ad716a;
$color-5: #403233;
$color-6: #d6cfc7;

/* typography */
$body-font: 'Poppins', sans-serif;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;

@media (min-width: 768px) {
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
}

/* ====================
LAYOUT
==================== */

$header-height: 8rem;
$width--container-80: 80%;
$width--container-90: 90%;

// section - park
$img-height: 300px;

$length: calc((100vw - 1000px) / 2);
