html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

[class*='ico'] {
  cursor: pointer;
}

/* colors */
/* typography */
/* layout */
body {
  background: #f8f9fa;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

.header__logo {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
}

.hero__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .hero__title {
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1.25rem;
  }
  .hero__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .hero__btn {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

@media (min-width: 1000px) {
  .hero__title {
    font-size: 4.25rem;
  }
  .hero__subtitle {
    font-size: 1.75rem;
  }
}

.nav__link {
  font-size: 1.25rem;
}

.title--big {
  font-weight: 400;
  margin-bottom: 0;
  color: #f8f9fa;
}

.title--small {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 0.85rem;
  margin-bottom: 0.25em;
  color: #a47e4f;
}

@media (min-width: 900px) {
  .title--big {
    font-size: 4rem;
    color: #333;
  }
}

.about__text {
  line-height: 2;
  font-weight: 300;
}

.text--highlight {
  color: #ff5e5b;
}

section {
  margin-bottom: 24rem;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}

.container--grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container--flex-sb {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 12rem;
  background: #46474f;
  color: #f8f9fa;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 1px 1px 1px rgba(51, 51, 51, 0.5);
  margin: 0 auto;
}

.hero {
  height: calc(100vh - 12rem);
}

.hero__btn {
  color: #ff5e5b;
  border: 1px solid #ff5e5b;
  border-radius: 25px;
}

@media (min-width: 800px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__background {
    width: 100%;
    background: #e7e2d6;
  }
  .hero .container--grid {
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  .hero__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__btn {
    padding: 1em 2em;
    margin-right: auto;
  }
  .hero img {
    border: 60px solid #f8f9fa;
  }
}

.nav__bars--ico {
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #333;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.nav__menu--show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__close--ico {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
}

.nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  background: #f8f9fa;
  color: #2a3019;
  padding: 1em 2em;
  border-radius: 25px;
  letter-spacing: 1px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.nav__link:hover,
.nav__link:focus {
  background: #a47e4f;
  color: #f8f9fa;
}

@media (min-width: 800px) {
  .nav__bars--ico,
  .nav__close--ico {
    display: none;
  }
  .nav__menu {
    background: inherit;
    visibility: visible;
    height: 12rem;
    display: block;
    position: static;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__item {
    margin-right: 1.25rem;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
  .nav__link {
    color: #f8f9fa;
    /* font-size: .75rem; */
    border: 0;
    background: none;
  }
  .nav__link--contact {
    background: #ff5e5b;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.about {
  padding: 24rem 0;
  border: 1px solid black;
  background: #f8f6ec;
}

.article {
  row-gap: 6rem;
}

.article__label {
  grid-column: 1 / -1;
  max-width: 600px;
}

.article__photo {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__body {
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 2.25;
  margin: 0;
}

.about .title--small {
  font-size: 1.25rem;
  letter-spacing: 8px;
}

.article__piece {
  display: -ms-grid;
  display: grid;
  row-gap: 6rem;
}

.title--big {
  font-size: 4.5rem;
}
/*# sourceMappingURL=style.css.map */