html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

[class*='ico'] {
  cursor: pointer;
}

/* colors */
/* typography */
body {
  background: #f8f9fa;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

/* ====================
TITLE
==================== */
.title--big {
  font-weight: 400;
  margin-bottom: 0;
  color: #f8f9fa;
}

@media (min-width: 900px) {
  .title--big {
    font-size: 4rem;
    color: #333;
  }
}

.title--small {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 0.85rem;
  margin-bottom: 0.25em;
  color: #a63d40;
}

.title--section {
  font-size: 6rem;
  font-weight: 700;
}

.subtitle--section {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
  font-weight: 400;
  color: #f8f9fa;
}

/* ====================
ARTICLE
==================== */
.article__body {
  font-size: 2rem;
  line-height: 1.9;
  font-weight: 300;
}

.header__logo {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
}

@media (min-width: 800px) {
  .header__logo {
    font-size: 3.25rem;
  }
}

.nav__link {
  font-size: 1.25rem;
}

@media (min-width: 800px) {
  .nav__link {
    font-size: 1.35rem;
  }
}

/* ====================
HERO
==================== */
.hero__caption-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero__caption-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.hero__btn {
  font-size: 1.25rem;
  font-weight: 700;
  color: #f8f6ec;
}

@media (min-width: 800px) {
  .hero__caption-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  .hero__caption-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .hero__btn {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (min-width: 1000px) {
  .hero__caption-title {
    font-size: 5.25rem;
  }
  .hero__caption-subtitle {
    font-size: 2rem;
  }
  .hero__btn {
    font-size: 1.85rem;
    font-weight: 700;
  }
}

.about__text {
  line-height: 2;
  font-weight: 300;
}

.color--highlight {
  color: #354f52;
}

.wrapper {
  min-width: 300px;
  margin: 0 auto;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

.container--grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  row-gap: 6rem;
  -ms-grid-columns: (minmax(440px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.container--grid-col4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.container--flex-sb {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}

/* ====================
HEADER
==================== */
.header {
  position: absolute;
  height: 10rem;
  top: 0;
  left: 0;
  right: 0;
  background: #354f52;
  background: -webkit-gradient(linear, left top, right top, from(#354f52), to(#283c3e));
  background: linear-gradient(90deg, #354f52 0%, #283c3e 100%);
  color: #f8f6ec;
  margin: 0 auto;
  border-bottom: 2px solid #283c3e;
  z-index: 100;
}

/* ====================
navigation
==================== */
.nav__bars--ico {
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #333;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.nav__menu--show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__close--ico {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
}

.nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  background: #f8f9fa;
  color: #2a3019;
  padding: 1em 2em;
  letter-spacing: 1px;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

@media (min-width: 800px) {
  .nav__bars--ico,
  .nav__close--ico {
    display: none;
  }
  .nav__menu {
    background: inherit;
    visibility: visible;
    height: 10rem;
    display: block;
    position: static;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__item {
    margin-right: 1.25rem;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
  .nav__link {
    color: #f8f9fa;
    /* font-size: .75rem; */
    border: 0;
    background: none;
  }
  .nav__link--contact {
    background: #f8f6ec;
    color: #333;
  }
}

.hero {
  margin-top: 10rem;
  height: calc(100vh - 10rem);
}

.hero__content {
  height: 100%;
  background: #b3a594;
}

.hero .container {
  width: 100%;
}

.hero .container--grid {
  height: inherit;
  -ms-grid-columns: none;
      grid-template-columns: none;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.hero__caption {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.hero__btn {
  border-color: #f8f6ec;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  .hero {
    background: url("../../assets/photos/web/mossholder2400.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .container {
    width: 80%;
  }
  .hero__content {
    height: auto;
    background: #b3a594;
    background: linear-gradient(239.04deg, #b3a594 31.13%, rgba(179, 165, 148, 0.867919) 99.99%, rgba(179, 165, 148, 0) 100%);
  }
  .hero .container--grid {
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
  .hero__caption {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: left;
    grid-column: span 2;
  }
  .hero__caption-title {
    margin-bottom: 1rem;
  }
  .hero__caption-subtitle {
    margin-bottom: 3rem;
  }
  .hero__btn {
    margin-left: 0;
  }
  .hero__img {
    height: 500px;
    grid-column: span 2;
    outline: 30px solid #f8f6ec;
  }
}

.section {
  min-height: 100vh;
}

@media (min-width: 990px) {
  .marker, .section__caption::before {
    position: absolute;
    content: '';
    width: 3rem;
    height: 100%;
    top: 0;
    background: #403233;
  }
}

.section__caption {
  position: relative;
}

.section__caption-title {
  margin-bottom: 10rem;
}

@media (min-width: 800px) {
  .section {
    padding: 24rem 0;
  }
  .section:last-child {
    margin-bottom: 0;
  }
}

/* ====================
ABOUT
==================== */
.about {
  background: #ad716a;
}

.about .section__caption::before {
  left: 0;
  background: #403233;
}

.about .article__photo {
  height: 300px;
}

@media (min-width: 800px) {
  .about .container--grid {
    row-gap: 6rem;
  }
  .about .article__photo {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  .about .article__block {
    display: -ms-grid;
    display: grid;
    row-gap: 5rem;
  }
  .about .article__body {
    margin: 0;
  }
}

/* ====================
RESTAURANT
==================== */
.restaurant {
  background: #403233;
  color: #f8f9fa;
}

.restaurant .section__btn {
  color: #f8f6ec;
}

@media (min-width: 800px) {
  .restaurant .section__caption::before {
    background: #f8f9fa;
    right: 0;
  }
  .restaurant .section__caption-subtitle {
    color: #ad716a;
  }
  .restaurant .article__photo {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: 1 / -1;
  }
}

/* ====================
PARK
==================== */
.park {
  background: #d6cfc7;
}

@media (min-width: 800px) {
  .park .container--grid {
    row-gap: 6rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .park .section__caption {
    padding: 6rem;
    position: static;
    background: #ad716a;
  }
  .park .section__caption::before {
    display: none;
  }
  .park .section__caption-title {
    font-size: 6rem;
    margin-bottom: 0;
  }
  .park .section__caption-subtitle {
    color: #f8f9fa;
  }
  .park p {
    font-size: 1.85rem;
    line-height: 1.8;
    font-weight: 300;
  }
  .park img {
    width: 100%;
    min-height: 300px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.footer {
  background: #403233;
  color: #f8f6ec;
  font-size: 1.4rem;
}

.footer__title {
  color: rgba(255, 255, 255, 0.45);
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.footer__title--info {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer .footer__text {
  font-weight: 300;
  font-size: 1.4rem;
}

.footer__links-item {
  margin-bottom: 2rem;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.45);
}

.footer__bot {
  background: #503f40;
}

.footer__rights {
  margin-bottom: 0;
}

.footer__icon {
  font-size: 2.8rem;
  padding: 0.1em;
  color: rgba(255, 255, 255, 0.45);
}

.footer__icon:first-child {
  margin-right: 4rem;
}

.footer__icon:hover {
  color: #f8f6ec;
}

@media (min-width: 800px) {
  .footer .container--grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .footer__top {
    padding: 12rem 0;
  }
  .footer__bot {
    padding: 4rem 0;
  }
}

.btn {
  max-width: 220px;
  min-height: 6rem;
  border-width: 2px;
  border-style: solid;
  font-size: 2rem;
}

.section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.section__btn .fas {
  font-size: 1rem;
  margin-left: 1rem;
}

.background--image {
  background: url("../../assets/photos/web/mossholder1920.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  min-height: 20rem;
}

.background--image-1 {
  background-position-y: 100%;
}

.background--image-2 {
  background-position-y: 50%;
}

.background--image-3 {
  background-position-y: 0%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.sticky {
  position: fixed;
}

.btn {
  padding: 0.75em 2em;
}

.box {
  width: 90vw;
}

.flex--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #333;
}
/*# sourceMappingURL=style.css.map */