@import './variables';
@import './global';
@import './typography';
@import './mixins';

/* ====================
LAYOUT
==================== */

.container,
[class*='content'] {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }

  [class*='content'] {
    width: 90%;
  }
}

/* ====================
HEADER
==================== */

.header {
  height: $header-height;
  background: $dark-green-color;
  color: $white-color;
  box-shadow: 0px 1px 1px 1px rgba(51, 51, 51, 0.5);
  margin: 0 auto;
}

.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2px;
}

/* ====================
NAVIGATION
==================== */

.nav__bars--ico {
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $black-color;
  transform: translateX(100%);
  transition: transform 350ms;
}

.nav__menu--show {
  transform: translateX(0%);
}

.nav__close--ico {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  background: $white-color;
  color: $dark-green-color;
  padding: 0.65em 1.35em;
  border-radius: 25px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: background-color 500ms ease;
}

.nav__link:hover,
.nav__link:focus {
  background: $accent-color;
  color: $white-color;
}

@media (min-width: 800px) {
  .nav__bars--ico,
  .nav__close--ico {
    display: none;
  }

  .nav__menu {
    background: inherit;
    visibility: visible;
    height: $header-height;
    display: block;
    position: static;
    transform: translateX(0%);
  }
  .nav__list {
    flex-direction: row;
  }

  .nav__item {
    margin-right: 1.25rem;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .nav__link {
    color: #f8f9fa;
    /* font-size: .75rem; */
    border: 0;
    background: none;
  }

  .nav__link--contact {
    background: $accent-color;
  }
}

/* ====================
HERO
==================== */

.hero__content {
  /* overriding default content width */
  width: 100%;
  height: calc(100vh - #{$header-height});
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hero__photo {
  // background-color: $primary-color;
  background-color: #2e331a;
  background-image: url('../assets/photos/thegirl.jpg');
  background-size: cover;
  background-position: 20% 50%;
  background-blend-mode: lighten;
  box-shadow: 0px 1px 1px 1px rgba(51, 51, 51, 0.15);
}

.hero__text {
  display: grid;
  place-content: center;
}

.hero__btn {
  color: $accent-color;
  background: none;
  border: 1px solid $accent-color;
  border-radius: 25px;
  box-shadow: 1px 1px 0px 0px rgba(51, 51, 51, 0.25);
  display: grid;
  column-gap: 6px;
  grid-template-columns: auto auto;
  align-items: center;
  margin: 0 auto;
  transition: background-color 350ms;
}

.hero__btn:hover,
.hero__btn:focus {
  background: $accent-color;
  color: $white-color;
}

/* arrow vector*/
.hero__btn span {
  margin-top: 0.6px;
}

@media (min-width: 800px) {
  .hero {
    background: url('../assets/vectors/background/autumn.png');
    background-color: #f3f5f7;
    background-blend-mode: overlay;
  }

  .hero__content {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
  }

  .hero__text {
    order: -1;
    justify-content: start;
    text-align: left;
  }

  .hero__photo {
    box-sizing: content-box;
    border: 50px solid #f8f9fa;
    border-radius: 25px;
    height: 500px;
  }

  @media (max-width: 900px) {
    .hero__photo {
      border: 25px solid #f8f9fa;
    }
  }

  .hero__btn {
    margin: 0;
    margin-right: auto;
  }
}

/* ====================
Section
==================== */

.section {
  margin: 10rem 0;
}

.section__label {
  @include flex(row, center, center);
  height: 200px;
  background: $dark-green-color;
  position: relative;
  border-bottom-right-radius: 50px;
  margin-bottom: 2rem;
  &::before {
    content: '';
    background: $light-green-color;
    display: block;
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: 100%;
    height: 100px;
    border-top-left-radius: 50px;
  }
}

.section__label-img {
  position: absolute;
  height: 200px;
  width: auto;
  left: 25%;
  right: 25%;
  margin: 0 auto;
  bottom: 100%;
}

.section__label-title {
  font-weight: 400;
  color: $white-color;
  margin: 0;
  &::before {
    display: block;
    content: 'SELO STRUG';
    font-size: 0.85rem;
    letter-spacing: 4px;
    font-weight: 700;
    color: $accent-color;
  }
}

@media (min-width: 900px) {
  .section__label {
    height: 500px;
    // border-top-right-radius: 25px;
    border-bottom-right-radius: 0;
    &::before {
      display: none;
    }
  }

  .section__label-content {
    @include flex(row, space-between, center);
  }

  .section__label-img {
    position: static;
    height: 250px;
    margin: 0;
  }

  .section__label-title {
    max-width: 500px;
    font-size: 2.25rem;
    &::before {
      font-size: 1rem;
    }
  }

  .section__content {
    // @include flex(row, space-between, center);
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* ====================
Articles
==================== */

@media (min-width: 900px) {
  .article__photo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 5px;
  }

  .article--pull-up {
    position: relative;
    bottom: 4rem;
    .article__body {
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }

  .article--reverse {
    @include flex(column-reverse, stretch, stretch);
    .article__body {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .article__body {
    font-weight: 300;
    line-height: 2;
  }
}
